.card {
  width: 30%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(178, 234, 234);
  border-radius: 0.5rem;
  padding: 1rem;
  justify-content: end;
  align-items: end;
  color: black;
  position: relative;
}

.card h1{
    font-weight: 600;
    text-align: right;
    color: rgb(34, 34, 34);
}
.card p{
    text-align: right;
    /* color: rgb(34, 34, 34); */
    color: rgb(34, 34, 34);
}

.cardImage{
    position: absolute;
    /* width: 40%;
    height: 40%; */
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    /* transform: scale(3); */
    
}
